<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
	    <ul>
	      <li><a href="/">Home</a></li>
		    <li><a href="/tutorial">Tutorial</a></li>
	      <li><a href="/package">Package</a></li>
	      <li><a href="/research">Research</a></li>
	    </ul>
		</nav>
		<div class="container">
			
			{{ content }}
			
		</div><!-- /.container -->
		<footer>
	    <ul>
	      <li><a href="mailto:bozhanguncmath10@gmail.com">email</a></li>
	      <li><a href="https://github.com/fastmultipolemethod">github.com/fastmultipolemethod</a></li>
			</ul>
		</footer>
	</body>
</html>
